<%- include ('./header.ejs') %>
		
		<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->	
		
			<div class="container-fluid">
				<div class="row">
					<div class="col-xl-12 wid-100">
						<h3 class="text-primary"><%=result[6][0].name.toUpperCase()%> DASHBOARD</h3>

						<div class="row">
							<div class="col-xl-3 col-sm-6">
								<div class="card chart-grd same-card">
									<div class="card-body depostit-card p-0">
										<div class="depostit-card-media d-flex justify-content-between pb-0">
											<div>
												<h6>Weekly Profit</h6>
												<h3>Rs. <%=result[0][0].weekly_actual_pl.toLocaleString('en-IN', { style: 'currency', currency: 'INR' })%></h3>
											</div>
											
										</div>
									</div>
								</div>
							</div>

                            <div class="col-xl-3 col-sm-6">
								<div class="card chart-grd same-card">
									<div class="card-body depostit-card p-0">
										<div class="depostit-card-media d-flex justify-content-between pb-0">
											<div>
												<h6>Monthly Profit</h6>
												<h3>Rs.<%=result[1][0].monthly_actual_pl.toLocaleString('en-IN', { style: 'currency', currency: 'INR' })%></h3>
											</div>
											
										</div>
									</div>
								</div>
							</div>

                            <div class="col-xl-3 col-sm-6">
								<div class="card chart-grd same-card">
									<div class="card-body depostit-card p-0">
										<div class="depostit-card-media d-flex justify-content-between pb-0">
											<div>
												<h6>Last Month Profit</h6>
												<h3><%=result[2][0].last_month_actual_pl.toLocaleString('en-IN', { style: 'currency', currency: 'INR' })%></h3>
											</div>
											
										</div>
									</div>
								</div>
							</div>


                            <div class="col-xl-3 col-sm-6">
								<div class="card chart-grd same-card">
									<div class="card-body depostit-card p-0">
										<div class="depostit-card-media d-flex justify-content-between pb-0">
											<div>
												<h6>Yearly Profit</h6>
												<h3>Rs.<%=result[3][0].yearly_actual_pl.toLocaleString('en-IN', { style: 'currency', currency: 'INR' })%></h3>
											</div>
											
										</div>
										<div id="NewCustomers"></div>

									</div>
								</div>
							</div>

                           
							<div class="col-xl-12">
								<div class="card overflow-hidden">
									<div class="card-header border-0 pb-0 flex-wrap">
										<h4 class="heading mb-0">Yearly Overview</h4>
										<input type="hidden" value="<%=unique_id%>" id="unique_id">
									</div>
									<div class="card-body  p-0">
											<div id="overiewChart"></div>
									
									</div>
								</div>
							</div>
						
						</div>
					</div>
			
					
					
					
				
					<div class="col-xl-12 bst-seller">
						<div class="card">
							<div class="card-body p-0">
								<div class="table-responsive active-projects style-1 ItemsCheckboxSec shorting ">
								<div class="tbl-caption">
									<h4 class="heading mb-0">Latests Trade</h4>
								
								</div>
									<table id="empoloyees-tbl" class="table">
										<thead>
                                            <tr>
												<th>
													<div class="form-check custom-checkbox ms-0">
														<input type="checkbox" class="form-check-input checkAllInput" id="checkAll2" required="">
														<label class="form-check-label" for="checkAll2"></label>
													</div>
												</th>
                                                <th>Date</th>
                                                <th>Actual Profit / Loss</th>
                                                <th>View Details</th>
                                              
                                            </tr>
                                        </thead>
										<tbody>

                                            <% for(i=0;i<result[4].length;i++){ %>

											<tr>
												<td>
													<div class="form-check custom-checkbox">
														<input type="checkbox" class="form-check-input" id="customCheckBox0100" required="">
														<label class="form-check-label" for="customCheckBox0100"></label>
													</div>
												</td>
												<td><span><%=result[4][i].date%></span></td>
												<td><span>Rs. <%=result[4][i].actual_pl%></span></td>
												<td>  <a href="/admin/customer/trade/details?date=<%=result[4][i].date%>&unique_id=<%=unique_id%>"
                                                    target="_blank"><span
                                                        class="badge badge-success light border-0">View Details</span></a></td>

                                                
												
                                              
												
											
											</tr>

                                            <% } %>
											
											
											
										</tbody>
										
									</table>
								</div>
							</div>
						</div>
					</div>



					<div class="col-xl-12 bst-seller">
						<div class="card">
							<div class="card-body p-0">
								<div class="table-responsive active-projects style-1 ItemsCheckboxSec shorting ">
								<div class="tbl-caption">
									<h4 class="heading mb-0">Cash Trade</h4>
								
								</div>
									<table id="empoloyees-tbl" class="table">
										<thead>
                                            <tr>
												<th>
													<div class="form-check custom-checkbox ms-0">
														<input type="checkbox" class="form-check-input checkAllInput" id="checkAll2" required="">
														<label class="form-check-label" for="checkAll2"></label>
													</div>
												</th>
                                                <th>Date</th>
                                                <th>Trade Name</th>
                                                <th>Amount</th>
                                              
                                            </tr>
                                        </thead>
										<tbody>

                                            <% for(i=0;i<result[5].length;i++){ %>

											<tr>
												<td>
													<div class="form-check custom-checkbox">
														<input type="checkbox" class="form-check-input" id="customCheckBox0100" required="">
														<label class="form-check-label" for="customCheckBox0100"></label>
													</div>
												</td>
												<td><span><%=result[5][i].date%></span></td>
												<td><span>Rs. <%=result[5][i].trade_name%></span></td>
												<td><span>Rs. <%=result[5][i].amount%></span></td>
                            
												
                                              
												
											
											</tr>

                                            <% } %>
											
											
											
										</tbody>
										
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			
			</div>
        </div>
		
        <!--**********************************
            Content body end
        ***********************************-->
		
	
	
		
        <%- include ('./footer.ejs') %>
     