<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Tax Invoice</title>
    <link rel="shortcut icon" type="image/png" href="./favicon.png" />
    <style>
      * {
        box-sizing: border-box;
      }

      .table-bordered td,
      .table-bordered th {
        border: 1px solid #ddd;
        padding: 10px;
        word-break: break-all;
      }

      body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        font-size: 16px;
      }
      .h4-14 h4 {
        font-size: 12px;
        margin-top: 0;
        margin-bottom: 5px;
      }
      .img {
        margin-left: "auto";
        margin-top: "auto";
        height: 30px;
      }
      pre,
      p {
        /* width: 99%; */
        /* overflow: auto; */
        /* bpicklist: 1px solid #aaa; */
        padding: 0;
        margin: 0;
      }
      table {
        font-family: arial, sans-serif;
        width: 100%;
        border-collapse: collapse;
        padding: 1px;
      }
      .hm-p p {
        text-align: left;
        padding: 1px;
        padding: 5px 4px;
      }
      td,
      th {
        text-align: left;
        padding: 8px 6px;
      }
      .table-b td,
      .table-b th {
        border: 1px solid #ddd;
      }
      th {
        /* background-color: #ddd; */
      }
      .hm-p td,
      .hm-p th {
        padding: 3px 0px;
      }
      .cropped {
        float: right;
        margin-bottom: 20px;
        height: 100px; /* height of container */
        overflow: hidden;
      }
      .cropped img {
        width: 400px;
        margin: 8px 0px 0px 80px;
      }
      .main-pd-wrapper {
        box-shadow: 0 0 10px #ddd;
        background-color: #fff;
        border-radius: 10px;
        padding: 15px;
      }
      .table-bordered td,
      .table-bordered th {
        border: 1px solid #ddd;
        padding: 10px;
        font-size: 14px;
      }
    </style>
  </head>
  <body>
    <section class="main-pd-wrapper" id="invoice" style="width: 1000px; margin: auto">
      <div style="display: table-header-group">
        <h4 style="text-align: center; margin: 0">
          <b>Tax Invoice</b>
        </h4>

        <table style="width: 100%; table-layout: fixed">
          <tr>
            <td
              style="border-left: 1px solid #ddd; border-right: 1px solid #ddd"
            >
              <div
                style="
                  text-align: center;
                  margin: auto;
                  line-height: 1.5;
                  font-size: 14px;
                  color: #4a4a4a;
                "
              >
               
                 <img src="/images/logo.jpg" style="width: 150px;">

                <p style="font-weight: bold; margin-top: 15px">
                  GST : O7BCDPM7179L1Z0
                </p>
                <!-- <p style="font-weight: bold">
                  Toll Free No. :
                  <a href="tel:018001236477" style="color: #00bb07"
                    >1800-123-6477</a
                  >
                </p> -->
              </div>
            </td>
            <td
              align="right"
              style="
                text-align: right;
                padding-left: 50px;
                line-height: 1.5;
                color: #323232;
              "
            >
              <div>
                <h4 style="margin-top: 5px; margin-bottom: 5px">
                  Bill to/ Ship to
                </h4>
                <!-- <p>NAME   :- {{ customer["name"]}}</p>
                        <p>ADDRESS:- {{customer['address']}}</p>
                        <p>MOBILE :- {{customer['mobile']}}</p>
                        <p>OrderID   :- {{customer['order_id']}}</p>  -->
                <p style="font-size: 14px">
                  <%=result[0].firmname.toUpperCase()%>,<%=result[0].address%><br />
                  Phone:
                  <a href="tel:01241234568" style="color: #00bb07"
                    >+91 <%=result[0].usernumber%></a
                  >
                </p>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <table
        class="table table-bordered h4-14"
        style="width: 100%; -fs-table-paginate: paginate; margin-top: 15px"
      >
        <thead style="display: table-header-group">
          <tr
            style="
              margin: 0;
              background: #fcbd021f;
              padding: 15px;
              padding-left: 20px;
              -webkit-print-color-adjust: exact;
            "
          >
            <td colspan="4">
              <h3>
                <span
                  style="
                    font-weight: 300;
                    font-size: 85%;
                    font-weight: bold;
                    color: black;
                    margin-left: 0px;
                  "
                  >Order ID: <%=result[0].orderid%></span
                >
                <p
                  style="
                    font-weight: 300;
                    font-size: 85%;
                    color: #626262;
                    margin-top: 7px;
                  "
                >


             

                  Delivery Estimate:
                  <span style="color: #00bb07" id="dateIn15Days"></span
                  ><br />
                </p>
              </h3>
            </td>
            <td colspan="5">
                <p><strong>Invoice Number:</strong> <span id="invoiceNumber"></span></p>
              <p style="margin: 5px 0">Invoice Generated:- <%=result[0].created_at%></p>
              <p style="margin-bottom: 5px">CIN: U52100DL2016PTC292777</p>
            </td>
            <td colspan="4" style="width: 300px">
              <h4 style="margin: 0">Sold By:</h4>
              <p>
                E GADGET WORLD  1st floor,<br />
                J.k tower, Kaushik Enclave Main Rd, near by Burari Hospital, Kaushik Enclave, Shankarpura, Burari, Delhi, 110084 .
              </p>
            </td>
          </tr>

          <tr>
            <th style="width: 50px">#</th>
            <th style="width: 150px"><h4>Item Name</h4></th>
            <th style="width: 150px">
              <h4>
                SKU<br />
                No.
              </h4>
            </th>
            <th style="width: 150px"><h4>QTY</h4></th>
            <th style="width: 150px"><h4>MRP</h4></th>
            <th style="width: 150px">
              <h4>
                Unit<br />
                Price
              </h4>
            </th>

            <th style="width: 150px">
                <h4>
                  Liquidation <br />
                  Value
                </h4>
              </th>

            <th style="width: 150px">
              <h4>
                Taxable <br />
                Amount
              </h4>
            </th>
           
            <th style="width: 150px">
              <h4>
                Tax <br />
                Rate %
              </h4>
            </th>
            <th style="width: 150px">
              <h4>
                CGST<br/>
                Amount
              </h4>
            </th>
            <th style="width: 150px">
              <h4>
                SGST<br />
                Amount
              </h4>
            </th>

            <th style="width: 150px">
                <h4>
                  IGST<br />
                  Amount
                </h4>
              </th>
            <th style="width: 150px"><h4>Total <br/> Value</h4></th>
          </tr>
        </thead>
        <tbody>

            <% let grand_total = 0;
            let amount = 0;
            let gstPercentage;
            let priceWithoutGst;
            let net_amount;
            let payable_amount;
            let gstAmount;
            let cgstAmount;
            let sgstAmount;
            let liquidation_value;
            %>

            <% for(i=0;i<result.length;i++){ %>


                <% 
                // Calculate GST, CGST, and SGST amounts
                
                if(result[i].product_margin_price > 0){
                     amount = parseFloat(result[i].amount);
                     liquidation_value = parseFloat(result[i].product_margin_price);
                     gstPercentage = 18;
                     
                     payable_amount = amount * result[i].quantity
                     gstAmount = (liquidation_value * gstPercentage) / (100);
                     priceWithoutGst = amount - liquidation_value - gstAmount;
                     net_amount = priceWithoutGst * result[i].quantity
                     cgstAmount = gstAmount / 2;
                     sgstAmount = gstAmount / 2;
                     grand_total = grand_total + payable_amount;
                }
                
else {
     amount = parseFloat(result[i].unitprice);
     liquidation_value = 0
     gstPercentage = 18;
     priceWithoutGst = amount / (1 + (gstPercentage / 100));
     net_amount = priceWithoutGst * result[i].quantity
     payable_amount = amount * result[i].quantity
     gstAmount = (payable_amount * gstPercentage) / (100 + gstPercentage);
     cgstAmount = gstAmount / 2;
     sgstAmount = gstAmount / 2;
     grand_total = grand_total + payable_amount;
}




            %>

          <tr>
            <td><%=i+1%></td>
            <td><%=result[i].productname%></td>
            <td><%=result[i].skuno%></td>
            <td><%=result[i].quantity%></td>
            
            <td><%= priceWithoutGst.toFixed(2) %></td>




            <td><%= net_amount.toFixed(2) %></td>
            <td><%= liquidation_value.toFixed(2) %></td>

            <td><%= gstAmount.toFixed(2) %></td>
            <td>18%</td>


            <% 
  // Define the address string
  let address = result[0].address;

  // Check if 'New Delhi' is present in the address string
  let containsNewDelhi = address.toLowerCase().includes('new delhi');



  %>


  <% if(containsNewDelhi){ %>
    <td><%= cgstAmount.toFixed(2) %></td>
    <td><%= sgstAmount.toFixed(2) %></td>

<td>0.00</td>
  <% } else { %>
    <td>0.00</td>
    <td>0.00</td>

<td><%= gstAmount.toFixed(2) %></td>

    <% } %>

  

           

            <td><%=result[i].total_amount%></td>
          </tr>
          <% } %>
        </tbody>
        <tfoot></tfoot>
      </table>

     

      <table class="hm-p table-bordered" style="width: 100%; margin-top: 30px">
        <tr>
          <th style="width: 400px">
            <p>Payment Mode: Online </p>
          </th>
         
          <td colspan="5" style="border-left: none"></td>
        </tr>
        <tr style="background: #fcbd02">
          <th>Total Order Value</th>
          <td style="width: 150px; text-align: right; border-right: none">
            <b><%=grand_total.toFixed(2)%></b>
          </td>
          <td colspan="5" style="border-left: none"></td>
        </tr>
      </table>

      <table style="width: 100%" cellspacing="0" cellspadding="0" border="0">
        <tr>
          <td>
           
            <p>
              This is computer generated invoice and hence signature is not
              required
            </p>
          </td>
          
        </tr>
      </table>


      <div style="text-align: center; margin-top: 20px;">
        <button id="downloadInvoice">Download Invoice as PDF</button>
      </div>

    </section>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>

<script>
    document.getElementById('downloadInvoice').addEventListener('click', () => {
        window.print()
    //     alert('hi')
    //   const invoiceElement = document.getElementById('invoice');
    //   const options = {
    //     margin: 1,
    //     filename: 'invoice.pdf',
    //     image: { type: 'jpeg', quality: 0.98 },
    //     html2canvas: { scale: 2 },
    //     jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
    //   };
    //   html2pdf().from(invoiceElement).set(options).save();
    });
</script>

  <script>
    // JavaScript to calculate date 15 days from today
    const today = new Date();
    const dateIn15Days = new Date(today.setDate(today.getDate() + 15));

    // Format the date to a readable format (e.g., YYYY-MM-DD)
    const formattedDate = dateIn15Days.toISOString().split('T')[0];

    // Insert the date into the paragraph with id "dateIn15Days"
    document.getElementById('dateIn15Days').innerText = `${formattedDate}`;
</script>

<script>
    // Generate a unique invoice number with prefix 'INV'
    function generateInvoiceNumber() {
        // Get the current timestamp to create a unique 7-digit number
        const uniquePart = Date.now().toString().slice(-7); // last 7 digits of the timestamp
        const invoicePrefix = 'INV'; // Prefix for invoice
        
        // Concatenate prefix with the unique 7-digit number
        return invoicePrefix + uniquePart;
    }

    // Display the generated invoice number in the HTML
    document.getElementById('invoiceNumber').innerText = generateInvoiceNumber();
</script>
</html>
