<%- include ('../.././header.ejs') %>

<link rel="stylesheet" href="https://elusiveicons.com/assets/elusive-icons/css/elusive-icons.css">


		
		<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
			
			<div class="container-fluid">
				<!-- Row -->
				<div class="row">
					
					<div class="col-xl-12">
						<div class="filter cm-content-box box-primary">
							<div class="content-title">
								<div class="cpa">
									<i class="fa-solid fa-envelope me-1"></i>Update <%= response.replace(/_/g, ' ').toUpperCase() %>	  <span style="color: green;margin-left: 20px;"><%=msg%></span>
								</div>

                                <input type="hidden" id="pagename" value="<%=response%>">

                                <input type="hidden" id="subcategoryvalue" value="<%=result[0].subcategory%>">
                                <input type="hidden" id="brandvalue" value="<%=result[0].brand%>">
                                <input type="hidden" id="ramvalue" value="<%=result[0].ram%>">
                                <input type="hidden" id="physical_condition_value" value="<%=result[0].physical_condition%>">




								<div class="tools">
									<a href="javascript:void(0);" class="expand SlideToolHeader"><i class="fal fa-angle-down"></i></a>
								</div>
							</div>
							<div class="cm-content-body form excerpt">
								<div class="card-body">
									
                  <form action="/admin/dashboard/product/<%=response%>/update"  method="post">




                
                    <div class="row" style="margin-top: 20px;">

                      <div class="col-xl-6">
                        <label  class="form-label">Product (Hide / Show )</label>
                           <select name="in_app" class="form-control">
                            <option value="hide" <%=result[0].in_app === 'hide' ? 'selected' : '' %>>Hide</option>
                            <option value="show" <%=result[0].in_app === 'show' ? 'selected' : '' %>>Show</option>
                  
                           </select>
                    </div>


                    <div class="col-xl-6">
                      <label  class="form-label">Warranty</label>
                      <input type="text" class="form-control" id="warranty" name="warranty" value="<%=result[0].warranty%>" placeholder="Enter warranty" >
            
                      </div>
                            
                  
                    </div>





                    
<div class="row" style="margin-top: 20px;">

  
  <div class="col-xl-6">
    <label  class="form-label">Select  <%=response.split('_').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ') %>

        Condition </label>
       <select id="subcategory" class="form-control" name="subcategory" required></select>
</div>
<input type="hidden" id="category" name="category" value="<%=result[0].category%>">
<input type="hidden" id="id" name="id" value="<%=result[0].id%>">


      <div class="col-xl-6">
        <label  class="form-label">Select Brand </label>
        <select id="brand" class="form-control" name="brand" required></select>
        </div>

        
   

        

   
</div>











<div class="row" style="margin-top: 20px;">



      <div class="col-xl-6">
        <label  class="form-label">SKU No. </label>
        <input type="text" class="form-control" id="skuno" name="skuno" value="<%=result[0].skuno%>" placeholder="Enter SKU No." >

        </div>


        <div class="col-xl-6">
            <label  class="form-label">Model No. </label>
            <input type="text" class="form-control" id="modelno" name="modelno" value="<%=result[0].modelno%>" placeholder="Enter Model No." >

            </div>

   
</div>



<div class="row" style="margin-top: 20px;">



  <div class="col-xl-6">
    <label  class="form-label">IMEI No. </label>
    <input type="text" class="form-control" id="imei" name="imei" value="<%=result[0].imei%>" placeholder="Enter IMEI No." >
 </div>


 <div class="col-xl-6">
  <label  class="form-label">Select  <%=response.split('_').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ') %>

      Physical Condition </label>
     <select id="physical_condition" name="physical_condition" required class="form-control"></select>
</div>



</div>


<div class="row" style="margin-top: 20px;">



    <div class="col-xl-4">
      <label  class="form-label">Price </label>
       <input type="number" class="form-control" id="price" name="price" value="<%=result[0].price%>" placeholder="Enter Price">
      </div>


      <div class="col-xl-4">
        <label  class="form-label">Margin Price </label>
         <input type="number" class="form-control" id="margin_price" name="margin_price" value="<%=result[0].margin_price%>" placeholder="Enter Margin Price">
        </div>
  

      <div class="col-xl-4">
          <label  class="form-label">Quantity</label>
          <input type="text" class="form-control" id="quantity" name="quantity" value="<%=result[0].quantity%>" placeholder="Enter Quantity" >

          </div>

 
</div>



<div class="row" style="margin-top: 20px;">

  



  <div class="col-xl-6">
    <label  class="form-label">Select RAM </label>
    <select id="ram" name="ram" required class="form-control"></select>
    </div>

    
    <div class="col-xl-6">
        <label  class="form-label">Enter HDD / SSD
        </label>
        <input type="text" id="storage" class="form-control" name="storage" value="<%=result[0].storage%>" placeholder="Enter Storage">

        </div>

    


</div>


<div class="row" style="margin-top: 20px;">



  
    <div class="col-xl-12" style="margin-top: 20px;">
        <label  class="form-label">Description</label>
              <textarea id='description' name="description"><%=result[0].description%></textarea>
   </div>
  
   
  
  </div>





<div class="row" style="margin-top: 20px;">
    <div class="xl-12">
        <h3>QC Reports</h3>

    </div>
</div>



<div class="row" style="margin-top: 20px;">

  


    <div class="col-xl-4">
      <label  class="form-label">Display </label>
     <select id="display" name="display" class="form-control">
      <option value="working" <%=result[0].display === 'working' ? 'selected' : '' %>>Working</option>
                  <option value="not_working" <%=result[0].display === 'not_working' ? 'selected' : '' %>>Not Working</option>
                  <option value="damage" <%=result[0].display === 'damage' ? 'selected' : '' %>>Damage</option>


     </select>
      </div>

  

      
      <div class="col-xl-4">
          <label  class="form-label">Battery
          </label>
          <select id="battery" name="battery" class="form-control">
            <option value="ok" <%=result[0].battery === 'ok' ? 'selected' : '' %>>Ok</option>
            <option value="faulty" <%=result[0].battery === 'faulty' ? 'selected' : '' %>>Faulty</option>
    
         </select>
          </div>


          <div class="col-xl-4">
            <label  class="form-label">Front Camera</label>
      
              <select id="front_camera" name="front_camera" class="form-control">
                  <option value="working" <%=result[0].front_camera === 'working' ? 'selected' : '' %>>Working</option>
                  <option value="not_working" <%=result[0].front_camera === 'not_working' ? 'selected' : '' %>>Not Working</option>
                  <option value="blur" <%=result[0].front_camera === 'blur' ? 'selected' : '' %>>Blur</option>


          
               </select>
            </div>
      

 
</div>



<div class="row" style="margin-top: 20px;">



  <div class="col-xl-4">
    <label class="form-label">Back Camera </label>
    <select id="back_camera" name="back_camera" class="form-control">
      <option value="working" <%=result[0].back_camera === 'working' ? 'selected' : '' %>>Working</option>
      <option value="not_working" <%=result[0].back_camera === 'not_working' ? 'selected' : '' %>>Not Working</option>
      <option value="blur" <%=result[0].back_camera === 'blur' ? 'selected' : '' %>>Blur</option>



    </select>
</div>



    <div class="col-xl-4">
        <label class="form-label">Speaker </label>
        <select id="speaker" name="speaker" class="form-control">
          <option value="working" <%=result[0].speaker === 'working' ? 'selected' : '' %>>Working</option>
          <option value="not_working" <%=result[0].speaker === 'not_working' ? 'selected' : '' %>>Not Working</option>

        </select>
    </div>

    


    <div class="col-xl-4">
        <label class="form-label">Wifi
        </label>
        <select id="wifi" name="wifi" class="form-control">
          <option value="working" <%=result[0].wifi === 'working' ? 'selected' : '' %>>Working</option>
          <option value="not_working" <%=result[0].wifi === 'not_working' ? 'selected' : '' %>>Not Working</option>

        </select>
    </div>




</div>


<div class="row" style="margin-top: 20px;">


  <div class="col-xl-4">
    <label class="form-label">Bluetooth </label>

    <select id="bluetooth" name="bluetooth" class="form-control">
      <option value="working" <%=result[0].bluetooth === 'working' ? 'selected' : '' %>>Working</option>
      <option value="not_working" <%=result[0].bluetooth === 'not_working' ? 'selected' : '' %>>Not Working</option>


    </select>
</div>


    <div class="col-xl-4">
        <label class="form-label">Network </label>
        <select id="network" name="network" class="form-control">
          <option value="working" <%=result[0].network === 'working' ? 'selected' : '' %>>Working</option>
          <option value="not_working" <%=result[0].network === 'not_working' ? 'selected' : '' %>>Not Working</option>
    

        </select>
    </div>

    <div class="col-xl-4">
        <label class="form-label">Fingerprint </label>
        <select id="fingerprint" name="fingerprint" class="form-control">
          <option value="working" <%=result[0].fingerprint === 'working' ? 'selected' : '' %>>Working</option>
          <option value="not_working" <%=result[0].fingerprint === 'not_working' ? 'selected' : '' %>>Not Working</option>
    
        </select>
    </div>


   



</div>


<div class="row" style="margin-top: 20px;">


  <div class="col-xl-4">
    <label class="form-label">Face ID
    </label>
    <select id="face_id" name="face_id" class="form-control">
      <option value="working" <%=result[0].face_id === 'working' ? 'selected' : '' %>>Working</option>
      <option value="not_working" <%=result[0].face_id === 'not_working' ? 'selected' : '' %>>Not Working</option>

    </select>
</div>



<div class="col-xl-4">
  <label class="form-label">Power Key
  </label>
  <select id="power_key" name="power_key" class="form-control">
    <option value="working" <%=result[0].power_key === 'working' ? 'selected' : '' %>>Working</option>
    <option value="not_working" <%=result[0].power_key === 'not_working' ? 'selected' : '' %>>Not Working</option>
    <option value="hard_press" <%=result[0].power_key === 'hard_press' ? 'selected' : '' %>>Hard Press</option>

  </select>
</div>



<div class="col-xl-4">
  <label class="form-label">Volume Key
  </label>
  <select id="volume_key" name="volume_key" class="form-control">
    <option value="working" <%=result[0].volume_key === 'working' ? 'selected' : '' %>>Working</option>
    <option value="not_working" <%=result[0].volume_key === 'not_working' ? 'selected' : '' %>>Not Working</option>
    <option value="hard_press" <%=result[0].volume_key === 'hard_press' ? 'selected' : '' %>>Hard Press</option>

  </select>
</div>


  </div>



<div class="row" style="margin-top: 20px;">


  <div class="col-xl-6">
    <label class="form-label">Home Button
    </label>
    <select id="home_button" name="home_button" class="form-control">
      <option value="working" <%=result[0].home_button === 'working' ? 'selected' : '' %>>Working</option>
    <option value="not_working" <%=result[0].home_button === 'not_working' ? 'selected' : '' %>>Not Working</option>
    <option value="hard_press" <%=result[0].home_button === 'hard_press' ? 'selected' : '' %>>Hard Press</option>

  
    </select>
  </div>


  <div class="col-xl-6">
    <label class="form-label">Body
    </label>
    <select id="body" name="body" class="form-control">
      <option value="ok" <%=result[0].body === 'ok' ? 'selected' : '' %>>OK</option>
            <option value="damage" <%=result[0].body === 'damage' ? 'selected' : '' %>>DAMAGE</option>
            <option value="scratch" <%=result[0].body === 'scratch' ? 'selected' : '' %>>SCRATCH</option>
            <option value="dent" <%=result[0].body === 'dent' ? 'selected' : '' %>>DENT</option>
            <option value="sign_of_usage" <%=result[0].body === 'sign_of_usage' ? 'selected' : '' %>>Sign Of Usage</option>

    </select>
  </div>


  </div>



  
<div class="row" style="margin-top: 20px;">


  <div class="col-xl-6">
    <label class="form-label">Charging Jack
    </label>
    <select id="charging_jack" name="charging_jack" class="form-control">
      <option value="working" <%=result[0].charging_jack === 'working' ? 'selected' : '' %>>Working</option>
    <option value="not_working" <%=result[0].charging_jack === 'not_working' ? 'selected' : '' %>>Not Working</option>
  
  
    </select>
  </div>


  <div class="col-xl-6">
    <label class="form-label">Folder Type
    </label>
    <select id="folder_type" name="folder_type" class="form-control">
      <option value="original" <%=result[0].folder_type === 'original' ? 'selected' : '' %>>Original</option>
            <option value="local" <%=result[0].folder_type === 'local' ? 'selected' : '' %>>Local</option>
           

    </select>
  </div>


  </div>



										<div class="text-end" style="margin-top: 20px;">
											<button type="submit" class="btn btn-primary">Save</button>
										
                    </div>
									</div>


                </form>

                <div id="loader-overlay">
                    <div id="loader"></div>
            </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
        <!--**********************************
            Content body end
        ***********************************-->
		
		
		
        <%- include ('../.././footer.ejs') %>



        <script src="https://cdn.ckeditor.com/4.7.0/full/ckeditor.js"></script>
        <script src="https://unpkg.com/vue@2.3.4"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>

        <script>
            var exampleArray = [
  {
    id: 100,
    user: "Carlos pira longo",
    date: "22/10/2016",
    content: "1 dato mas"
  },
  {
    id: 200,
    user: "Andres de lprimer",
    date: "22/10/2017",
    content: "2 datos mas"
  },
  {
    id: 300,
    user: "Daniel de segundo",
    date: "22/10/2014",
    content: "3 datos mas"
  }
];

var contenttext = '12';

// register modal component
Vue.component("history", {
  template: "#history-template",
  props: {
    history: {
      type: Array,
      required: true
    },
    value: {
      type: String
    },
  },
  

});


// start app
var vm = new Vue({
  el: "#loadHistorys",
  data: {
    hist: exampleArray,
    value: contenttext
  }
});

 CKEDITOR.replace('description');




//  $('#submit').click(function(e) {
//   e.preventDefault();
//   alert('run')
//   let content = $("#editor").html().trim();
//   alert("VALUE SUBMITTED: \n" + content);  
// });

$('.uploadImage').submit(function (e) {
      e.preventDefault();
     alert('done')
      $(this).ajaxSubmit({
      
        contentType: 'application/json',
        data:data,
        success: function (response) {
          console.log(response)
             if (response.msg === 'success') {
        alert('Successfully updated');
        window.location.reload();
    } 
    else if(response.msg === 'exists'){
      alert('Project Name Already Registered')
    } else {
        alert('Failed to update data');
    }
        }
      });
      return false;

    
    });


//  $('.save').click(function() {
//     const data = {
//         admin_features: CKEDITOR.instances['admin_features'].getData(),
//         user_features: CKEDITOR.instances['user_features'].getData(),
//         other_features: CKEDITOR.instances['other_features'].getData(),
//         how_to_run: CKEDITOR.instances['readme_text'].getData(),
//         credentials: CKEDITOR.instances['login_credentials'].getData(),
//         description: $('#descriptionTextArea').val(),
//         name: $('#name').val(),
//         seo_name : $('#name').val().toLowerCase().replace(/\s+/g, '-'),
//         category: $('#language').val(),
//         status:'pending'

//     };

//     if(data.admin_features == '' || data.user_features == '' || data.how_to_run == '' || data.credentials == '' || data.description == '' || data.name == '' || data.category == ''){
//       alert('Mandatory Field Missing')
//     }
//     else{

//       console.log(data)

// $.post('/affiliate/dashboard/source_code/add', data)
// .done(function(response) {
//     if (response.msg === 'success') {
//         alert('Successfully updated');
//         window.location.reload();
//     } 
//     else if(response.msg === 'exists'){
//       alert('Project Name Already Registered')
//     } else {
//         alert('Failed to update data');
//     }
// })
// .fail(function() {
//     alert('An error occurred while processing your request');
// });
//     }


// });


let pagename = $('#pagename').val()

let subcategoryvalue = $('#subcategoryvalue').val()
let brandvalue = $('#brandvalue').val()
let ramvalue = $('#ramvalue').val()
let physical_condition_value = $('#physical_condition_value').val()


$.getJSON(`/admin/dashboard/mobile/getData/condition`, data => {
    addgroup = data
    console.log('leagues',data)
    fillDropDown('subcategory', data, 'Choose Mobile Condition', subcategoryvalue)
  
})

$.getJSON(`/admin/dashboard/mobile/getData/ram`, data => {
    ram = data
    console.log('leagues',data)
    fillDropDown('ram', data, 'Choose RAM',ramvalue)
  
})


$.getJSON(`/admin/dashboard/mobile/getData/physical_condition`, data => {
    addgroup = data
    console.log('leagues',data)
    fillDropDown('physical_condition', data, 'Choose Physical Condition', physical_condition_value)
  
})


$.getJSON(`/admin/dashboard/mobile/getData/brand`, data => {
    brand = data
    console.log('leagues',data)
    fillDropDown('brand', data, 'Choose Brand', brandvalue)
  
})






function fillDropDown(id, data, label, selectedid = 0) {
    $(`#${id}`).empty()
    $(`#${id}`).append($('<option>').val("").text(label))

    $.each(data, (i, item) => {
        if (item.id == selectedid) {
            $(`#${id}`).append($('<option selected>').val(item.id).text(item.name))
        } else {
            $(`#${id}`).append($('<option>').val(item.id).text(item.name))
        }
    })
}
        </script>



<script src="https://cdn.ckeditor.com/4.7.0/full/ckeditor.js"></script>
        <script src="https://unpkg.com/vue@2.3.4"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
        <script>
            var exampleArray = [
  {
    id: 100,
    user: "Carlos pira longo",
    date: "22/10/2016",
    content: "1 dato mas"
  },
  {
    id: 200,
    user: "Andres de lprimer",
    date: "22/10/2017",
    content: "2 datos mas"
  },
  {
    id: 300,
    user: "Daniel de segundo",
    date: "22/10/2014",
    content: "3 datos mas"
  }
];

var contenttext = '12';

// register modal component
Vue.component("history", {
  template: "#history-template",
  props: {
    history: {
      type: Array,
      required: true
    },
    value: {
      type: String
    },
  },
  

});


// start app
var vm = new Vue({
  el: "#loadHistorys",
  data: {
    hist: exampleArray,
    value: contenttext
  }
});

 CKEDITOR.replace('admin_features');




//  $('#submit').click(function(e) {
//   e.preventDefault();
//   alert('run')
//   let content = $("#editor").html().trim();
//   alert("VALUE SUBMITTED: \n" + content);  
// });


 

function submitForm() {

    const files = document.querySelector("[type=file]").files;

    const values = {
        description: CKEDITOR.instances['description'].getData(),
        price: $('#price').val(),
        margin_price: $('#margin_price').val(),
        quantity: $('#quantity').val(),
        skuno : $('#skuno').val(),
        modelno: $('#modelno').val(),
        name: $('#modelno').val() + ' | ' + $('#ram').val() + ' | ' + $('#storage').val(),
        subcategory:$('#subcategory').val(),
        brand:$('#brand').val(),



    };


    const QcReports = {
        display:$('#display').val(),
        front_camera:$('#front_camera').val(),
        back_camera:$('#back_camera').val(),
        battery:$('#battery').val(),
        ram:$('#ram').val(),
        speaker:$('#speaker').val(),
        bluetooth:$('#bluetooth').val(),
        wifi:$('#wifi').val(),
        network:$('#network').val(),
        fingerprint:$('#fingerprint').val(),
        face_id:$('#face_id').val(),
        power_key:$('#power_key').val(),
        volume_key:$('#volume_key').val(),
        home_button:$('#home_button').val(),
        body:$('#body').val(),
        storage:$('#storage').val(),
        charging_jack:$('#charging_jack').val(),
        folder_type:$('#folder_type').val(),
        imei : $('#imei').val(),
        physical_condition:$('#physical_condition').val(),



    }

    if(values.subcategory == null || values.subcategory == 'null'){
    alert('Select Mobile Condition')
    }
    else if(values.brand == null || values.brand == 'null'){
    alert('Select Brand')
    }
  
    else if(QcReports.ram == null || QcReports.ram == 'null'){
    alert('Select Laptop RAM')
    }
    else if(!QcReports.storage){
    alert('Enter Storage')
    }
    else if(!QcReports.imei){
        alert('Enter IMEI No.')
    }
    else if(QcReports.physical_condition == null || QcReports.physical_condition == 'null'){
    alert('Select Physical Condition')
    }
    else if(!values.skuno){
        alert('Enter SKU No.')
    }
    else if(!values.modelno){
        alert('Enter Model No.')
    }
    else if(!values.price){
        alert('Enter Price')
    }
    else if(!values.margin_price){
        alert('Enter Margin Price')
    }
    else if(!values.quantity){
        alert('Enter Quantity')
    }
    else if(!values.description){
        alert('Enter Description')
    }
    else if(files.length==0){
        alert('Select Imgaes')
    }
    else{
    $.post(`/admin/dashboard/product/${pagename}/insert`, values)
.done(function(response) {
    if (response.msg === 'success') {
        console.log(response)
        let productid = response.result.insertId
          const url = "https://api.cloudinary.com/v1_1/dfdzegf99/image/upload";

  const form = document.querySelector("form");

  const loaderOverlay = document.getElementById("loader-overlay");

  const loader = document.getElementById("loader");

  loaderOverlay.style.display = "flex"; // Show overlay

  const a = [];

  const formData = new FormData();

  for (let i = 0; i < files.length; i++) {

    let file = files[i];

    formData.append("file", file);

    formData.append("upload_preset", "docs_upload_example_us_preset");

    fetch(url, {

      method: "POST",

      body: formData,

    })

      .then((response) => response.json())

      .then((data) => {

        a.push({ url: data.url });

        if (a.length === files.length) {

           
            console.log('images url',a)

            $.ajax({
  url: '/admin/dashboard/product/upload/screenshots',
  method: 'POST',
  contentType: 'application/json',
  data: JSON.stringify({ url: a, productid }), // Assuming values.url is an array of URLs
  success: function(response) {
   if(response.msg=='success'){
    // window.location.href = `/admin/dashboard/product/add/${pagename}?message=Added Succesfully`
    QcReports.productid = productid;
    $.ajax({
  url: `/admin/dashboard/product/add/${pagename}/qcreport`,
  method: 'POST',
  contentType: 'application/json',
  data: JSON.stringify(QcReports), // Assuming values.url is an array of URLs
  success: function(response) {
   if(response.msg=='success'){
    window.location.href = `/admin/dashboard/product/add/${pagename}?message=Added Succesfully`
   }
   else{
    alert('An error Occured.Please Try Again Later')
   }
  }
})



   }
   else{
    alert('An error Occured.Please Try Again Later')
   }
    // Handle success response
  },
  error: function(xhr, status, error) {
    console.error('Error:', error);
    // Handle error
  }
});

            loaderOverlay.style.display = "none"; // Hide overlay after response
        }

      })

      .catch((error) => console.error("Error:", error));

  }

    } 
    else if(response.msg === 'exists'){
      alert('SKU No. Already Exists')
    } else {
        alert('Failed to Save data');
    }
})
.fail(function() {
    alert('An error occurred while processing your request');
});


    }


    


}

</script>